body{
 background:black;
 color:#ff4d88;
 font-family:"Courier New", monospace;
 margin:0; overflow:hidden;
 text-align:center;
}

#startScreen{
 position:absolute; top:50%; left:50%;
 transform:translate(-50%,-50%);
 cursor:pointer;
}

#gameArea{
 position:absolute; top:50%; left:50%;
 transform:translate(-50%,-50%);
 font-size:22px;
}

#lettersContainer{position:absolute;top:0;left:0;width:100%;height:100%;pointer-events:none;}
.letter{
 position:absolute;
 font-size:50px;
 color:#ff3366;
 transition:all 0.5s ease;
}

.hidden{display:none;}

.photo-container{
 perspective:1000px;
}
.photo-big{
 width:500px;
 max-width:90%;
 border-radius:25px;
 box-shadow:0 0 60px #ff4d88;
 display:block;
 margin:0 auto 30px;
 transform:scale(0);
 animation:photo-zoom 1.2s forwards;
}
@keyframes photo-zoom{0%{transform:scale(0)}100%{transform:scale(1)}}

button{
 padding:12px 25px; margin:10px;
 font-size:18px; background:#ff4d88;
 border:none;color:white; border-radius:10px; cursor:pointer;
 transition:.3s;
}
button:hover{transform:scale(1.2); box-shadow:0 0 15px #ff4d88;}

canvas{position:fixed;top:0;left:0;pointer-events:none;}
